body{
  margin: 0 0 0 0;
  height: 100%;
  overflow: auto;
  display: block;
}
#app {
  font-family: Helvetica, sans-serif;
  display: block;
}
.hiddentxt{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
}
